.btn {
    --btn-background : var(--color-primary);
    --btn-shade      : var(--color-primary-darken);
    --btn-text       : var(--color-text);

    background       : var(--btn-background);
    color            : var(--btn-text);
    border           : none;
    border-radius    : 2px;
    box-shadow       : 0 .3rem var(--btn-shade);
    outline          : none;
    font-weight      : bold;

    height           : 3rem;
    padding          : .75rem;

    cursor           : pointer;

    transition       : all .01s ease-out;

    display          : flex;
    justify-content  : center;
    align-items      : center;
}

.btn:hover {
    box-shadow : 0 .24rem var(--btn-shade);
    transform  : translateY(.06rem);
    transition : all .05s ease-out;
}


.btn:active {
    box-shadow : 0 .1rem var(--btn-shade);
    transform  : translateY(.2rem);
}

.btn.btn--inactive,
.btn:disabled {
    background : var(--btn-shade);
    box-shadow : 0 0 var(--btn-shade);
    transform  : translateY(.3rem);

    cursor     : not-allowed;
}

.btn .btn-media {
    margin-right : .3rem;
}

/* MODIFIER */
.btn.btn--square {
    width : 3rem;
}

.btn.btn--no-click,
.btn.btn--no-click:hover,
.btn.btn--no-click:active {
    box-shadow : 0 .15rem var(--btn-shade);
    transform  : translateY(.15rem);
}

.btn.btn--no-click {
    cursor : default;
}

/* COLORS */
.btn--red {
    --btn-background : var(--red);
    --btn-shade      : var(--red-darken);
}

.btn--green {
    --btn-background : var(--green);
    --btn-shade      : var(--green-darken);
}

.btn-2 {
    --color-btn         : var(--color-primary);
    --color-btn--active : var(--color-primary-darken);

    padding             : 1rem;

    border              : none;
    border-radius       : .5rem;
    box-shadow          : 0 .1rem 1.5rem rgba(0, 0, 0, .5);

    cursor              : pointer;
    background          : var(--color-btn);
    color               : var(--color-text);
    font-size           : 1.1em;
    font-weight         : bold;

    outline             : none;

    transition          : transform .1s ease-in-out;

    display             : flex;
    justify-content     : center;
    align-items         : center;
}

.btn-2:hover {
    transform : scale(1.03) translateY(-.05rem);
}

.btn-2:active {
    transform  : scale(0.97) translateY(.05rem);
    background : var(--color-btn--active);
}

.btn-2 .btn-2-icon {
    margin-right : .7rem;
}

.btn-2.btn-2--red {
    --color-btn         : var(--red);
    --color-btn--active : var(--red-darken);
}
