:root {

    --yellow                         : #f0a500;
    --yellow-darken                  : #cf7500;

    --green                          : #35a449;
    --green-darken                   : #20662c;

    --red                            : #da344d;
    --red-darken                     : #9b1c2f;

    --blue                           : #008ee0;
    --blue-darken                    : #006daa;

    --color-background               : #1a1c20;
    --color-background-lighten       : hsl(220, 10%, 12%);
    --color-background-lighten-2     : hsl(220, 10%, 15%);
    --color-background-border        : hsl(230, 10%, 14%);
    --color-primary                  : var(--yellow);
    --color-primary-darken           : var(--yellow-darken);
    --color-text                     : #f4f4f4;
    --color-text-darken              : #dddddd;
    --color-text-translucent-light   : rgba(244, 244, 244, .95);
    --color-text-translucent-light-2 : rgba(244, 244, 244, .8);
    --color-text-translucent         : rgba(244, 244, 244, .5);
    --color-text-translucent-2       : rgba(244, 244, 244, .3);
}
