.form {
    position : relative;
    display  : block;
    margin   : .5rem 0;
}

.form .form-input {
    width         : 100%;

    outline       : none;
    padding       : .75rem 1rem;
    border        : 1px solid var(--color-text-translucent);
    border-radius : 2px;
    background    : var(--color-background-lighten);
    box-shadow    : 0 .3rem var(--color-text-translucent);
    color         : var(--color-text);

    transition    : all .01s ease-out;

    font-size     : 1.1em;
}

.form .form-input:disabled {
    background : rgba(255, 255, 255, .05);
    color      : var(--color-text-darken);
    box-shadow : 0 .3rem var(--color-text-translucent);
}

.form.form--has-error .form-input {
    box-shadow : 0 .3rem var(--red);
    border     : 1px solid var(--red);
}

.form .form-input:focus {
    box-shadow : 0 .3rem var(--color-text);
    border     : 1px solid var(--color-text);
}

.form .form-label {
    display       : block;
    margin-bottom : .2rem;
    font-weight   : bold;
}

.form.form--has-error .form-label {
    color : var(--red);
}

.form .form-error {
    display    : none;

    margin-top : .6rem;
    color      : var(--red);
}

.form.form--has-error .form-error {
    display : block;
}

.form.form--required .form-label:after {
    color   : var(--red);
    content : '*';
}


.form-2 {
    display        : flex;
    flex-direction : column;

    position       : relative;
    box-shadow     : 0 .1rem 1.5rem rgba(0, 0, 0, .5);
    border-radius  : .5rem;
}

.form-2.form-2--required .form-2-label:after {
    content     : '*';
    font-family : 'Source Code Pro', sans-serif;
    color       : var(--red);
    margin-left : .2rem;
}

.form-2-input {
    outline       : none;
    border        : none;
    border-radius : .5rem;
    background    : var(--color-background);
    padding       : 2rem 1rem 1rem;
    color         : var(--color-text);
    font-size     : 1.1em;

    transition    : background-color .1s ease-in-out;
}

.form-2-input:not(:disabled):not(:focus):hover {
    background : var(--color-background-lighten);
}

.form-2-input:focus {
    background : var(--color-background-lighten-2);
}

.form-2-label {
    position : absolute;
    margin   : .5rem 1rem;
    color    : var(--color-text-translucent);
}

.form-2-error {
    color   : var(--red);
    margin  : .5rem 1rem;
    display : none;
}

.form-2--has-error .form-2-error {
    display : block;
}

.form-2-input:disabled {
    cursor     : not-allowed;
    box-shadow : 0 .075rem 1rem rgba(0, 0, 0, .3);
    color      : var(--color-text-translucent-2);
}
