@import "./buttons.css";
@import "./form.css";
@import "./colors.css";

:root {
    --z-index-popup    : 100;
    --z-index-snackbar : 200;
}

* {
    box-sizing : border-box;
}

body {
    background  : var(--color-background);
    color       : var(--color-text);
    margin      : 0;
    padding     : 0;
    font-family : "Source Code Pro", sans-serif;
}

body.no-scroll {
    overflow : hidden;
}
